<application>
  <component name="MybatisSettings" InsertGenerator="[&quot;add&quot;,&quot;new&quot;,&quot;insert&quot;]" DeleteGenerator="[&quot;cancel&quot;,&quot;del&quot;,&quot;delete&quot;,&quot;remove&quot;]" UpdateGenerator="[&quot;modify&quot;,&quot;set&quot;,&quot;edit&quot;,&quot;update&quot;]" SelectGenerator="[&quot;search&quot;,&quot;select&quot;,&quot;find&quot;,&quot;get&quot;,&quot;query&quot;,&quot;fetch&quot;,&quot;count&quot;,&quot;list&quot;,&quot;look&quot;]" statementGenerateModel="0" />
  <component name="MybatisXSettings" InsertGenerator="[&quot;add&quot;,&quot;insert&quot;,&quot;new&quot;]" DeleteGenerator="[&quot;cancel&quot;,&quot;del&quot;,&quot;delete&quot;]" UpdateGenerator="[&quot;update&quot;,&quot;modify&quot;,&quot;set&quot;]" SelectGenerator="[&quot;search&quot;,&quot;select&quot;,&quot;find&quot;,&quot;get&quot;,&quot;query&quot;,&quot;list&quot;,&quot;look&quot;]" statementGenerateModel="0" mapperIcon="BIRD" />
</application>